@charset "utf-8";

// Set your brand colors
$purple: #8A4D76;
$cccxiv: #314;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$black: #0d1117;
$white: #fff;

// Variables
$header-background: #161b22;

// Update Bulma's global variables
$family-sans-serif: 'Times New Roman', Times, serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $cccxiv;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $black;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "./styles/style.scss";
@import "./bulma/bulma.sass";