footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .inner {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 1.25rem;
    margin-left: 2rem;
    font-family: 'CascadiaCodePL';
}

footer #line {
    width: 100%;
}

footer .footer-text-container {
    margin-bottom: 1.1rem;
}